<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nibras Mobile R/art</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding"  >
      <!-- style="direction: rtl; text-align: right;" -->
       
       <!-- <input type="ipA" name="ipA" value="{{ipA}}" [(ngModel)]="ipA"> -->
       <!-- <ion-button  style="font-size: small; padding: 1px" (click) = "updat()">Set IP</ion-button> -->
      <!-- <p name="message" [innerHTML]="message" [(ngModel)]="message"></p> -->
  <!-- <div [innerHTML]="mytext"></div> -->
  <div id="logArea"></div>
<div style="font-size: small; background: mintcream; font-style: italic;">
  {{message}}
</div>
  <br/>
  
  <br/>

  

<app-nibras-list [items]="items"></app-nibras-list>

  
  
  </div>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>

<ion-footer>
  
    <!-- <ion-title>Footer</ion-title> -->
<hr/>
    <form (ngSubmit)="savek()">
            
      <ion-input name="nkinput"  autofocus="true" color="light" rows="3"
       style="display: inline-block; direction: rtl; text-align: right;
        border: 1px lightgrey; background: lightblue"  [(ngModel)]="nk"
      placeholder="Enter note..."  type="text" id="nkinput"></ion-input>  
      <!-- <a  style="display: inline; font-size: small; padding: 0px; margin: 0px;" (click) = "savek();" onclick="document.getElementById('nkinput').focus()">+++++++++++++++++++++++++++++++</a> -->
    </form>
   
    <div id="nklog" style='overflow: auto; direction: rtl; text-align: right; '>
  </div> 
  
 
</ion-footer>