body {
    color: black;
    font-size: 1.2em;
    line-height: 30px;
}

.hidden {
    display: none;
}

.metaRow td,
.metaRow span,
.metaRow td a {
    color: darkgray;
}

.ar {
    text-align: justify !important;
    direction: rtl !important;
}

.en {
    text-align: justify !important;
    direction: ltr !important;
    font-size: 1em;
}

.done2 {
    text-decoration: line-through !important;
    
        color: black !important;
 
    
}

.justDone {
    background: darkgray;
}

.justRead {
    background: lightgray;
}

table td {
    font-size: 1.2em;
    line-height: 30px;
}

.ar {
    padding: 6px;
    margin: 0px;
    // background: rgb(253, 246, 227) !important;
    color: rgb(43, 52, 55) !important;
    ;
    font-size: 1em;
}

.Todo {
    background: darkblue;
}

.K {
    background: darkblue;
}

.Kee {
    background: darkblue;
}

.Cal {
    background: darkblue;
}

.P {
    background: darkblue;
}

.G {
    background: darkblue;
}

.G {
    background: darkgreen;
}

.T {
    background: lightseagreen;
}

.N {
    background: darkorange;
}

.W {
    background: LightSalmon;
}

.R {
    background: DarkSlateBlue;
}

.Nws {
    background: DarkSlateBlue;
}

.Art {
    background: DarkSlateBlue;
}