body{
    color: black;
}
.hidden{
    display: none;
}


.metaRow td , .metaRow span , .metaRow td a {
    color: darkgray;
}



.ar{
text-align: justify !important;
direction: rtl !important;
}

.en{
text-align: justify !important;
direction: ltr !important;
}

.done{
    text-decoration: line-through;
}

.justDone{
    background: darkgray;
}

.justRead{
    background: lightgray;
}

table td {
    font-size: normal
}
 


.Todo{
    background: darkblue;
}



.K{
    background: darkblue;
}



.Kee{
    background: darkblue;
}




.Cal {
    background: darkblue;
}


    .P{
        background: darkblue;
    }
    
    .G{
        background: darkblue;
    }
    
    .G{
        background: darkgreen;
    }
    
    .T{
        background: lightseagreen;
    }
    
    
    .N{
        background: darkorange;
    }
    
    .W{
        background: LightSalmon;
    }
    
    .R{
        background: DarkSlateBlue;
    }

    .Nws{
        background: DarkSlateBlue;
    }

    .Art{
        background: DarkSlateBlue;
    }