

<table *ngFor="let item of items" border="1" style="border: 1px; padding: 2px; width: 99%; max-width: 99% !important; word-wrap: break-word !important; overflow-wrap: break-word">
      <tr style="padding: 5px; " >
     
      <td style="width: 27% !important; border-left: 0px;  border-right: 0px;  border-bottom: 0px; border-top: 1px lightgray !important; padding: 4px;text-align: center; color: white; font-weight: bold; font-size: small;" 
        class="{{item.type}}" >
        <ion-checkbox checked="false" onchange="markDone(item)"></ion-checkbox> 
      &nbsp;  <b>{{item.type}} {{item.id}}</b>
      </td>

      <td style=" width: 53% !important; border-right: 0px;  border-left: 0px; border-top: 1px lightgray !important; padding: 4px; background:lightyellow; text-align: left;  font-size: small;"
      (click)="close(item)"  >
          <i>{{item.meta}}</i>
        </td>
       </tr>
	   <tr>
        <td  colspan="2" (click)="openNext(item)"
         style="border: 0; width: 69%; padding: 0.6em; margin: 4px !important; color: midnightblue; 
           cursor: zoom-in; font-weight: bold;" class="{{item.language}}">
         
        {{item.title}} {{item.body != '' ? '...': ''}}
      </td>
      
        
        
</tr>
<tr>
  <td id="{{item.type + '' + item.id}}" colspan="2"   
  style=" word-wrap: break-word; border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px rgb(253, 226, 226) !important; padding: 0.7em; 
  padding-right: 1em; cursor: zoom-out; overflow: hidden; overflow-wrap: anywhere; max-width: 99% !important;"
  class="{{item.language}}" [innerHTML]="expanded ? item.body: ''" (click)="close(item)">
  


   
  </td>
</tr>
</table>

