
a{
    cursor: pointer;
}

.ar{
text-align: justify !important;
direction: rtl !important;
}

.en{
text-align: justify !important;
direction: ltr !important;
}

table td {
 font-size: normal
}


.Todo{
    background: darkblue;
}



.K{
    background: darkblue;
}



.Key{
    background: darkblue;
}

.Cal {
    background: darkblue;
}


.P{
    background: darkblue;
}

.G{
    background: darkblue;
}

.G{
    background: darkgreen;
}

.T{
    background: lightgreen;
}


.N{
    background: darkorange;
}

.W{
    background: LightSalmon;
}

.R{
    background: DarkSlateBlue;
}