* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
   
}

.menu.menu-left{
	width: calc(10% - 70px) !important;
}
.menu-open .menu-content{
	transform: translate3d(calc(10% - 70px), 0px, 0px) !important;
}

.md {
ion-menu{
    max-width: 10% !important;
    width: 10% !important;
  }

}
.done {
    color: black;
}

input {
    padding: 1px !important;
}
  

.ar{
text-align: justify !important;
direction: rtl !important;
}

.en{
text-align: justify !important;
direction: ltr !important;
}

table td {
 font-size: 1em;
}


.Todo{
    background: darkblue;
}



.K{
    background: darkblue;
}



.Key{
    background: darkblue;
}

.Cal {
    background: darkblue;
}


.P{
    background: darkblue;
}

.G{
    background: darkblue;
}

.G{
    background: darkgreen;
}

.T{
    background: lightgreen;
}


.N{
    background: darkorange;
}

.W{
    background: LightSalmon;
}

.R{
    background: DarkSlateBlue;
}
