<ion-app>
  <!--<ion-split-pane id="splitPane" contentId="main" when="xs">-->
    <ion-router-outlet id="main"></ion-router-outlet>

    <!--<ion-menu type="push" contentId="main" auto-hide="false" >-->
      <!--<ion-header>-->
        <!--<ion-toolbar>-->
          <!--<ion-title></ion-title>-->
        <!--</ion-toolbar>-->
      <!--</ion-header>-->
      <!--<ion-content>-->
        <!--<ion-list>-->
          <!--<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">-->
            <!--<ion-item [routerDirection]="'root'" href="/home#{{p.type}}">-->
              <!--&lt;!&ndash;<ion-icon [name]="p.icon" class="{{p.type}}"></ion-icon>&ndash;&gt;-->
              <!--<ion-label id="menuItem{{p.type}}"  style="padding: 7px 3px 2px 0px;" class="{{p.type}}">-->
                <!--{{p.title}}-->
              <!--</ion-label>-->
            <!--</ion-item>-->
          <!--</ion-menu-toggle>-->
        <!--</ion-list>-->
      <!--</ion-content>-->
    <!--</ion-menu>-->

<!--<ion-tabs>-->
    <!--<ion-tab-bar>-->

      <!--<ion-tab-button href="/home">-->
        <!--<ion-label class="home">-->
          <!--*-->
        <!--</ion-label>-->
      <!--</ion-tab-button>-->



  <!--</ion-tab-bar>-->
<!--</ion-tabs>-->


<ion-tabs>
  <ion-tab-bar slot="bottom" class="ionTabBar">
  <ion-tab-button class="tabButton" *ngFor="let p of appPages" href="/home#{{p.type}}">
    <ion-label class="tabLabel {{p.type}}">
      {{p.type}}
    </ion-label>
    <ion-badge class="tabBadge" id="{{p.type}}badge">-</ion-badge>
  </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar class="ionTabBar" style="">
    <!--display: none;-->

     <ion-tab-button href="/home#add">
    <ion-label style="font-weight: bold" class="addTab">
    Add
    </ion-label>
    </ion-tab-button>
    <ion-tab-button href="/home#search">
      <ion-label class="addTab">
        Search
      </ion-label>
    </ion-tab-button>


    <!--<ion-tab-button href="/home#t">-->
    <!--<ion-label class="tasksTab">-->
      <!--Tasks-->
    <!--</ion-label>-->
    <!--</ion-tab-button> -->
    <ion-tab-button href="/home#calendar">
    <ion-label class="calendarTab">
      Calendar
    </ion-label>
    </ion-tab-button>


    <!--<ion-tab-button href="/home#browse">-->
    <!--<ion-label class="browseTab">-->
      <!--Browse-->
    <!--</ion-label>-->
    <!--</ion-tab-button>-->

   <ion-tab-button href="/home#sync">
    <ion-label class="syncTab">
      Sync
    </ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

  <!--</ion-split-pane>-->
  
</ion-app>
