

.Todo{
    background: darkblue;
}



.K{
    background: darkblue;
}



.Key{
    background: darkblue;
}




.Cal {
    background: darkblue;
}



.P{
    background: darkblue;
}

.G{
    background: darkblue;
}

.G{
    background: darkgreen;
}

.T{
    background: lightgreen;
}


.N{
    background: darkorange;
}

.W{
    background: LightSalmon;
}

.R{
    background: DarkSlateBlue;
}