<ion-header>
    <ion-toolbar style="direction: rtl; text-align: right">
        <ion-title
                style="direction: rtl; text-align: right; word-wrap: break-word !important; overflow-wrap: break-word;">
            <!--{{summary}}-->
        </ion-title>

        <ion-button outline style="text-transform: none;" (click)="closeModal()">Close</ion-button>
        <ion-button outline style="text-transform: none;" (click)="copyText(summary, description)">Copy</ion-button>

        <div *ngIf="ecode == 'o'" style="display: inline;">
        <ion-button outline style="text-transform: none;" (click)="showEditForm(ecode, id)">Edit</ion-button>
        <ion-button outline style="text-transform: none;" (click)="deleteRecord(ecode, id)">Delete</ion-button>
            </div>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="{{language}}">
        <ion-card-header>
            <ion-card-subtitle class="{{language}}">
                <!-- <input type="checkbox" id="{{type + '' + id + 'checkbox'}}" (change)="markDone(type, id)" /> -->
        <span id="copyLog">
        </span>
            </ion-card-subtitle>
            <!--&lt;!&ndash; <ion-card-title style="direction: rtl; text-align: right; word-wrap: break-word !important; overflow-wrap: break-word;">-->

            <!--</ion-card-title>-->
        </ion-card-header>

        <ion-card-content class="{{language}}" >

            <div id="log{{ecode}}{{id}}"></div>
            <span id="{{ecode + id + 'log'}}"></span>

            <div id="editLog{{ecode + '' + id}}">
            </div>


            <div id="edit{{ecode + '' + id}}" class="hidden">
                <h1>Edit record</h1>


                <ion-button outline style="text-transform: none;" size="small" expand="block"
                            (click)="updateRecord();">Update
                </ion-button>

                <div style="width: 100% ;display: flex; justify-content: space-between; align-items: center">

                    <ion-select name="rtype" interface="popover" [(ngModel)]="module"
                                mutiple="false">
                        <ion-select-option value='n'>note</ion-select-option>
                        <ion-select-option value='j'>journal</ion-select-option>
                        <ion-select-option value='p'>plan</ion-select-option>
                        <ion-select-option value='t'>task</ion-select-option>
                        <ion-select-option value='g'>goal</ion-select-option>

                        <ion-select-option value='w'>writing</ion-select-option>
                        <ion-select-option value='r'>resource</ion-select-option>
                        <ion-select-option value='q'>payment</ion-select-option>
                        <!--<ion-select-option value='o'>operation</ion-select-option>-->
                    </ion-select>
                </div>
                <div style="width: 100% ;display: flex; justify-content: space-between; align-items: center">
                    <ion-datetime name="nkd" [(ngModel)]="date"
                                  displayFormat="DDD DD MMM, YY HH:mm" pickerFormat="YYYY MMM DDD HH mm"
                                  minuteValues="0,15,30,45"
                                  placeholder="at current time"></ion-datetime>

                    <!--</div>-->
                    <!--<div  style="width: 100%; display: flex; justify-content: space-between; align-items: center; margin: 0px; padding: 0px;">-->

                    <ion-label>pr.</ion-label>
                    <ion-range style="margin: 0px; padding: 0px;" [(ngModel)]="priority"
                               name="priority" pin="true" min="2" max="5" step="1" snaps="true"
                               ticks="true" color="secondary"></ion-range>
                </div>
                <!--picketOptions="{columns: ['Y', 'M', 'D', 'H', 'm']}" -->

                <!--Has files?-->
                <!--<ion-checkbox slot="end" value={val}  [(ngModel)]="withFolder"></ion-checkbox>-->
                <!--<ion-label position="floating">Title</ion-label>-->
                <ion-textarea name="summary" autofocus="true" rows="2"
                              color="black" placeholder="Summary"
                              style="font-size: 1.1em; text-align: right !important; direction: rtl !important; background: ghostwhite"
                              [(ngModel)]="summary"
                              type="text" id="summary"></ion-textarea>

                <!--<ion-label position="floating">Details</ion-label>-->
                <ion-textarea name="description" rows="5" autosize
                              placeholder="Description"
                              color="black"
                              style="height: 100px; font-size: 1em; display: inline-block; text-align: right !important; direction: rtl !important; background: ghostwhite"
                              [(ngModel)]="description"
                              type="text" id="description"></ion-textarea>

                <br/>

                <!-- <a  style="display: inline; font-size: small; padding: 0px; margin: 0px;"  -->
                <!-- (click) = "savek();" onclick="document.getElementById('nkinput').focus()">Add</a> -->


            </div>

            <h3> {{summary}}</h3>

            <div style="border-right: 1px solid darkgreen; padding: 8px; margin: 1px; font-size: 0.9em" [innerHTML]="description"></div>




            <div style="border-left: 1px solid darkgeen; direction: ltr; text-align: left">
<ul *ngIf="filesList">
    {{nbFiles}} files
    <br/>
    {{fileList}}
            <!--<li  *ngFor="let file of filesList.split('\n')">-->
            <!--{{file}}-->
           ***<!--</li>-->
</ul>

                <h4>Date:</h4>
                {{textDate}}
                <h4>Id:</h4>
                {{operationId}}



            </div>





            <div *ngIf="ecode != 'o'" style="display: inline;">


            <form (ngSubmit)="appendNote(ecode, id)">

          <ion-textarea name="textToAppend"  autofocus="true" color="light" rows="3"
           style="display: inline-block; direction: rtl; text-align: right;
            border: 1px lightgrey; background: lightblue"  [(ngModel)]="textToAppend"
          placeholder="Append note..."  type="text" id="textToAppend"></ion-textarea>
        </form>
                </div>

            <ion-button outline style="text-transform: none;" size="small" expand="block"
                        (click)="appendNote(ecode, id)">Save</ion-button>

        <div id="appendLog" style='overflow: auto; direction: rtl; text-align: right; '>
      </div>



        </ion-card-content>
    </ion-card>


</ion-content>