<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
	Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding"  >
      <!-- style="direction: rtl; text-align: right;" -->
       
       <!-- <input type="ipA" name="ipA" value="{{ipA}}" [(ngModel)]="ipA"> -->
       <!-- <ion-button  style="font-size: small; padding: 1px" (click) = "updat()">Set IP</ion-button> -->
      <!-- <p name="message" [innerHTML]="message" [(ngModel)]="message"></p> -->
  <!-- <div [innerHTML]="mytext"></div> -->
<div style="font-size: small; background: mintcream; font-style: italic;">
  {{message}}
</div>
  <br/>
      <div name="nklog" id="nklog" style='overflow: auto; line-height: 22px; direction: rtl; text-align: justified;'
           *ngFor="let line of newItems.split('***')">
          <div *ngIf="line.substr(1,4).trim() === 'A t'">

          <div style="direction: ltr; text-align: left; font-size: small; color: darkgray;; font-weight: italic;">
              {{line?.split('::')[0].split('--')[0]}}
          </div>
          <div style="direction: right; text-align: right; font-size: normal; color: black;; font-weight: bold;">
              {{line?.split('::')[0].split('--')[1]}}
          </div>
          <div style="border-right: 1px lightgrey solid; padding: 2px; margin: 2px; line-height: 20px; text-align: justified; font-size: 1.1em;">
              {{line?.split('::')[1]}}
          </div>
</div>

      </div>


  <br/>

  

<app-nibras-list [items]="items" [expanded]="true"></app-nibras-list>

  
  
  </div>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
