body {
  white-space: pre-wrap !important;
}
.welcome-card img {
  max-height: 40vh;
  overflow: hidden;
}


.myMenu {
  max-width: 30px !important;
  width: 30px !important;
  color: white;
}

.menu.menu-left{
	width: calc(10% - 70px) !important;
}
.menu-open .menu-content{
	transform: translate3d(calc(10% - 70px), 0px, 0px) !important;
}

ion-menu {
  max-width: 12% !important;
}



.menu-content {
  max-width: 88% !important;
}

.menu {
  --side-width: 40px !important;
  --side-max-width: 40px !important;
  --max-width: 45px !important;
  --width: 45px !important;
  width: 45px !important;
}

ion-menu {
  max-width: 12% !important;
}

.menu-content {
  max-width: 88% !important;
}


.native-textarea .sc-ion-textarea-md {
//height: 100% !important;
}

.swiper-container-horizontal{
  bottom: 90% !important;
}
.swiper-pagination {
  bottom: 66% !important;
}

.hidden {
  display: none !important;
}

.online {
  color: darkgreen;

}
.offline {
  color: darkgray;

}


.repoonline {
  color: darkgreen;
}
.repooffline {
  color: darkgray;
}

.event-detail {
  white-space: pre-wrap !important;
}

ion-radio-group  ion-icon {
display: none;
opacity: 0;
fill: green;
padding: 0;
margin: 0;

border-color: transparent;
}

ion-radio-group {
padding: 0px;
margin: 0;
--border-width: 0;

}

ion-grid {
--ion-grid-column-padding : 0;
--border-width: 0;
}
ion-row {
--ion-grid-column-padding : 0;
--border-width: 0;
}
ion-radio-group .item-radio-checked ion-icon {
fill: green !important;
padding:2px;
margin: 0;
display: inline;
opacity: 1;
}
ion-radio-group .item-radio-checked ion-label {
fill: green !important;
padding: 4px;
margin: 0;
display: inline;
opacity: 1;
border: 1px solid darkgreen;
border-radius: 5px;
}

ion-radio-group .item-radio-checked ion-label {
background: darkgreen !important;
color: white !important;
font-weight: bold;
}



ion-radio {
opacity: 0;
--color: green;
--color-checked: blue;

--border-width: 0;

border: 0px !important;
 background: white;
 border-color: transparent;
 width: 0px;
 height: 0px;
 margin: 0;
 padding: 0px;

}

.ion-radio {
border: 0px;
--border-width: 0;
}


.radio-icon {
border: 0px;
}


radio-icon {
border: 0px;
background: black;
}

ion-radio::part(mark){
background: none;
opacity: 0;
}

ion-radio::part(container){


}

ion-item, ion-row, ion-col {
 margin: 0;
 padding: 1px;
 --border-width: 0;
}

 ion-label {
 margin: 0;
 --inner-padding-end: 0;
 --inner-padding-start: 0;
 --inner-border-width: 0;
 padding-left: 2px;
 padding-right: 2px;
 --border-width: 0;
 --border: 0;
}


ion-item {
--inner-padding-end: 0;
--inner-padding-start: 0;
--inner-padding-top: 0;
--border-width: 0;
 margin: 0px;
 padding: 0;
}
ion-col {
--inner-padding-end: 0;
--inner-padding-start: 0;
--inner-padding-top: 0;
--border-width: 0;
 margin: 0px;
 padding: 0;
}


.card-content-md {
padding-inline-start: 7px;
padding-inline-end: 7px;
}